[submodule "src/external_dependencies/Universal_Robots_ROS2_Description"]
	path = src/external_dependencies/Universal_Robots_ROS2_Description
	url = https://github.com/PickNikRobotics/Universal_Robots_ROS2_Description.git
