<?xml version="1.0" encoding="utf-8" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="environment" params="parent xyz:='0 0 0' rpy:='0 0 0'">
    <!-- Import macros -->
    <xacro:include
      filename="$(find picknik_009_ur5e_config)/description/generic_tote.xacro"
    />

    <!-- Table (box geometry) -->
    <xacro:property name="table_x" value="1.8288" />
    <xacro:property name="table_y" value="0.46" />
    <xacro:property name="table_z" value="0.74" />

    <link name="table">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="${table_x} ${table_y} ${table_z}" />
        </geometry>
        <material name="table_material">
          <color rgba="0.792 0.820 0.933 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="${table_x} ${table_y} ${table_z}" />
        </geometry>
      </collision>
    </link>

    <joint name="${parent}_to_table" type="fixed">
      <parent link="${parent}" />
      <child link="table" />
      <origin xyz="${xyz}" rpy="${rpy}" />
    </joint>

    <!-- Tote dimensions -->
    <xacro:property name="tote_x" value="${24 * 0.0254}" />
    <xacro:property name="tote_y" value="${15 * 0.0254}" />
    <xacro:property name="tote_z" value="${7.5 * 0.0254}" />
    <xacro:property name="tote_wall" value="0.025" />
    <xacro:property name="tote_bottom" value="0.005" />
    <link name="tote_origin" />
    <joint name="table_to_tote_origin" type="fixed">
      <parent link="table" />
      <child link="tote_origin" />
      <origin xyz="${-tote_x / 2} ${table_y / 2 - tote_y} ${table_z / 2}" rpy="0 0 0" />
    </joint>

    <xacro:generic_tote
      parent="tote_origin"
      prefix=""
      x_length="${tote_x}"
      y_length="${tote_y}"
      z_length="${tote_z}"
      side_wall_thickness="${tote_wall}"
      bottom_thickness="${tote_bottom}" />
  </xacro:macro>
</robot>
