<?xml version="1.0" encoding="utf-8" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="environment" params="parent xyz:='0 0 0' rpy:='0 0 0'">
    <!-- Import macros -->
    <xacro:include
      filename="$(find picknik_009_ur5e_config)/description/generic_tote.xacro"
    />

    <!-- Environment base link: move this to reposition the entire environment -->
    <link name="environment_base" />
    <joint name="${parent}_to_environment_base" type="fixed">
      <parent link="${parent}" />
      <child link="environment_base" />
      <origin xyz="${xyz}" rpy="${rpy}" />
    </joint>

    <!-- Workcell (80/20 aluminum extrusion frame) -->
    <!-- robot_mount in the Locus config is at xyz="0.28 -0.026 -0.2" rpy="0 0 pi/2" from workcell.
         Since our robot is at world origin, we place the workcell at the inverse transform. -->
    <link name="workcell">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://picknik_009_ur5e_config/meshes/workcell_no_totes.stl" />
        </geometry>
        <material name="workcell_material">
          <color rgba="0.792 0.820 0.933 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://picknik_009_ur5e_config/meshes/workcell_no_totes.stl" />
        </geometry>
      </collision>
    </link>

    <joint name="environment_base_to_workcell" type="fixed">
      <parent link="environment_base" />
      <child link="workcell" />
      <origin xyz="0.026 0.28 0.2" rpy="0 0 ${-pi/2}" />
    </joint>

    <!-- Tote dimensions (matching Locus config) -->
    <xacro:property name="tote_x" value="${24 * 0.0254}" />
    <xacro:property name="tote_y" value="${15 * 0.0254}" />
    <xacro:property name="tote_z" value="${7.5 * 0.0254}" />
    <xacro:property name="tote_wall" value="0.025" />
    <xacro:property name="tote_bottom" value="0.005" />

    <!-- Left tote (positions relative to workcell frame, same as Locus config) -->
    <link name="left_tote_origin"/>0
    <joint name="left_tote_origin_joint" type="fixed">
      <parent link="workcell"/>
      <child link="left_tote_origin"/>
      <origin xyz="0.008 -0.055 -0.2189" rpy="0 0 ${pi}"/>
    </joint>

    <xacro:generic_tote
      parent="left_tote_origin"
      prefix="left_"
      x_length="${tote_x}"
      y_length="${tote_y}"
      z_length="${tote_z}"
      side_wall_thickness="${tote_wall}"
      bottom_thickness="${tote_bottom}"/>

    <!-- Right tote -->
    <link name="right_tote_origin"/>
    <joint name="right_tote_origin_joint" type="fixed">
      <parent link="workcell"/>
      <child link="right_tote_origin"/>
      <origin xyz="0.008 0.4 -0.2189" rpy="0 0 ${pi}"/>
    </joint>

    <xacro:generic_tote
      parent="right_tote_origin"
      prefix="right_"
      x_length="${tote_x}"
      y_length="${tote_y}"
      z_length="${tote_z}"
      side_wall_thickness="${tote_wall}"
      bottom_thickness="${tote_bottom}"/>

    <!-- 80/20 camera mount bar (24" long, 1.75"x1.75", horizontal, 17.75" above workcell surface) -->
    <xacro:property name="bar_length" value="${24 * 0.0254}" />
    <xacro:property name="bar_cross" value="${1.75 * 0.0254}" />
    <link name="camera_mount_bar">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="${bar_cross} ${bar_length} ${bar_cross}" />
        </geometry>
        <material name="aluminum_8020">
          <color rgba="0.7 0.7 0.7 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="${bar_cross} ${bar_length} ${bar_cross}" />
        </geometry>
      </collision>
    </link>
    <joint name="environment_base_to_camera_mount_bar" type="fixed">
      <parent link="environment_base" />
      <child link="camera_mount_bar" />
      <!-- Center of bar: camera Y minus half bar length, at workcell surface + 17.75" -->
      <origin xyz="0.45 0.538 0.469" rpy="0 0 0" />
    </joint>
  </xacro:macro>
</robot>
