<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">
  <!-- robot name parameter -->
  <xacro:arg name="name" default="ur"/>
  <!-- import main macro -->
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

  <!-- possible 'ur_type' values: ur3, ur3e, ur5, ur5e, ur10, ur10e, ur16e, ur20, ur30 -->
  <xacro:arg name="ur_type" default="ur5e"/>

  <!-- parameters -->
  <xacro:arg name="tf_prefix" default="" />
  <xacro:arg name="joint_limit_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
  <xacro:arg name="physical_params" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
  <xacro:arg name="visual_params" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
  <xacro:arg name="safety_limits" default="false"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>

  <!-- MuJoCo parameters -->
  <xacro:arg name="mujoco_model" default="description/mujoco/scene.xml" />
  <xacro:arg name="mujoco_model_package" default="picknik_009_ur5e_config" />
  <xacro:arg name="mujoco_viewer" default="false" />

  <!-- initial position for simulations -->
  <xacro:arg name="initial_positions_file" default="$(find ur_description)/config/initial_positions.yaml"/>
  <xacro:property name="initial_positions_file" default="$(arg initial_positions_file)"/>

  <!-- create link fixed to the "world" -->
  <link name="world" />

  <!-- UR5e arm with generate_ros2_control_tag disabled (MuJoCo provides its own) -->
  <xacro:ur_robot
          name="$(arg name)"
          tf_prefix="$(arg tf_prefix)"
          parent="world"
          joint_limits_parameters_file="$(arg joint_limit_parameters_file)"
          kinematics_parameters_file="$(arg kinematics_params)"
          physical_parameters_file="$(arg physical_params)"
          visual_parameters_file="$(arg visual_params)"
          safety_limits="$(arg safety_limits)"
          safety_pos_margin="$(arg safety_pos_margin)"
          safety_k_position="$(arg safety_k_position)"
          use_fake_hardware="false"
          initial_positions="${xacro.load_yaml(initial_positions_file)}"
          headless_mode="true"
          robot_ip="0.0.0.0"
          generate_ros2_control_tag="false"
  >
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:ur_robot>

  <!-- Wrist camera adapter and camera -->
  <xacro:include
    filename="$(find picknik_accessories)/descriptions/brackets/ur_realsense_camera_adapter/picknik_ur_camera_adapter.urdf.xacro"
  />
  <xacro:include
    filename="$(find picknik_accessories)/descriptions/sensors/realsense_d415.urdf.xacro"
  />
  <xacro:ur_realsense_camera_adapter
    prefix="$(arg tf_prefix)"
    parent="tool0"
    child_tool="realsense_camera_adapter_tool0"
    child_camera="d415_mount_link"
    rotation="0"
  />
  <xacro:realsense_d415
    parent="d415_mount_link"
    name="wrist_mounted_camera"
    use_mesh="true"
  >
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:realsense_d415>

  <!-- Gripper adapter (UR to Robotiq) -->
  <xacro:include
    filename="$(find robotiq_description)/urdf/ur_to_robotiq_adapter.urdf.xacro"
  />
  <xacro:ur_to_robotiq
    prefix="$(arg tf_prefix)"
    parent="realsense_camera_adapter_tool0"
    child="gripper_mount_link"
    rotation="0"
  />

  <!-- Robotiq EPick suction gripper -->
  <xacro:include filename="$(find epick_description)/urdf/epick_single_suction_cup.xacro"/>
  <xacro:epick_single_suction_cup
    prefix=""
    parent="gripper_mount_link"
    extension_radius="0.005"
    extension_length="0.05"
    suction_cup_radius="0.012"
    suction_cup_height="0.015"
    tcp_stroke_compensation="0.005"
    use_fake_hardware="true"
  />

  <!-- Grasp link at EPick TCP -->
  <link name="grasp_link"/>
  <joint name="grasp_link_joint" type="fixed">
    <parent link="epick_tcp"/>
    <child link="grasp_link"/>
    <origin xyz="0.0 0.0 0" rpy="0.0 0.0 0.0"/>
  </joint>

  <!-- Environment: workcell, totes, scene camera -->
  <xacro:include filename="$(find picknik_009_ur5e_config)/description/environment.xacro"/>
  <xacro:environment parent="world"/>

  <!-- MuJoCo ros2_control -->
  <ros2_control name="ur_mujoco_control" type="system">
    <hardware>
      <plugin>picknik_mujoco_ros/MujocoSystem</plugin>
      <param name="mujoco_model">$(arg mujoco_model)</param>
      <param name="mujoco_model_package">$(arg mujoco_model_package)</param>
      <param name="render_publish_rate">10</param>
      <param name="tf_publish_rate">60</param>
      <param name="lidar_publish_rate">10</param>
      <param name="mujoco_viewer">$(arg mujoco_viewer)</param>
    </hardware>
    <joint name="shoulder_pan_joint">
      <command_interface name="position" />
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity" />
    </joint>
    <joint name="shoulder_lift_joint">
      <command_interface name="position" />
      <state_interface name="position">
        <param name="initial_value">-1.5708</param>
      </state_interface>
      <state_interface name="velocity" />
    </joint>
    <joint name="elbow_joint">
      <command_interface name="position" />
      <state_interface name="position">
        <param name="initial_value">1.5708</param>
      </state_interface>
      <state_interface name="velocity" />
    </joint>
    <joint name="wrist_1_joint">
      <command_interface name="position" />
      <state_interface name="position">
        <param name="initial_value">-1.5708</param>
      </state_interface>
      <state_interface name="velocity" />
    </joint>
    <joint name="wrist_2_joint">
      <command_interface name="position" />
      <state_interface name="position">
        <param name="initial_value">-1.5708</param>
      </state_interface>
      <state_interface name="velocity" />
    </joint>
    <joint name="wrist_3_joint">
      <command_interface name="position" />
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity" />
    </joint>
    <sensor name="tcp_fts_sensor">
      <state_interface name="force.x" />
      <state_interface name="force.y" />
      <state_interface name="force.z" />
      <state_interface name="torque.x" />
      <state_interface name="torque.y" />
      <state_interface name="torque.z" />
    </sensor>
  </ros2_control>
</robot>
